<div class="evt-list">
    <div ng-if="vm.elements.length > 0">
        <div class="evt-list__listLetters">
            <span class="evt-list__listLetters__letter" 
                ng-class="{'active': letter === vm.selectedLetter }"
                ng-repeat="letter in ::vm.listKeys | orderBy track by $index" ng-click="vm.selectLetter(letter)">
                {{ ::letter }}
            </span>
        </div>
        <div class="evt-list__content">
            <div 
                class="scrollableDiv" 
                ng-class="{'no-scroll': vm.isNamedEntitiesList}"
                ng-if="!vm.isNamedEntitiesList">
                <evt-named-entity 
                    data-entity-id="{{::element}}" data-entity-type="{{::vm.listType}}"
                    ng-repeat="element in vm.visibleElements | orderBy ">
                </evt-named-entity>
            </div>
            <div 
                class="scrollableDiv no-scroll"
                ng-if="vm.isNamedEntitiesList">
                <evt-named-entity 
                    data-entity-id="{{::element}}" data-entity-type="{{::vm.listType}}"
                    ng-repeat="element in vm.visibleElements | orderBy ">
                </evt-named-entity>
            </div>
            <div ng-if="vm.isNamedEntitiesList">
                <button ng-disabled="vm.currentPage === 1" ng-click="vm.prevPage()" style="margin: 10px 5px;">{{ 'BUTTONS.PAGE_PREVIOUS' | translate }}</button>
                <span>{{ 'PAGINATION.PAGE_OF' | translate:{ current: vm.currentPage, total: vm.totalPages } }}</span>
                <button ng-disabled="vm.currentPage === vm.totalPages" ng-click="vm.nextPage()" style="margin: 10px 5px;">{{ 'BUTTONS.PAGE_NEXT' | translate }}</button>
            </div>
        </div>
    </div>
    <div ng-if="vm.elements.length <= 0">
        {{ 'LISTS.NO_ELEMENTS' | translate }} 
    </div>
</div>